# Python cache files
*.pyc
*.pyo
__pycache__/

# Environment variables and virtual environments
.env
*.env
venv/
.venv/

# Django static and media files
staticfiles/
media/

# Logs and database files
*.log
db.sqlite3

# Node.js dependencies (if using frontend frameworks)
node_modules/
npm-debug.log

# IDE and editor settings
*.swp
*.swo
*.idea/
.vscode/

# Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Git-related files
.git
.gitignore
